<!DOCTYPE html>
<html>
  <head>
    <title>An EJS example</title>
  </head>

  <body> 
    <% for (var i=0; i<10; ++i) { %>
      <p><%= i %>: Hello EJS!</p>
    <% } %>

    <p>This var: <%= thisVar %></p>
  </body>
</html>
